html,body {width:100%; height:100%; margin:0; padding:0; color:#343434; font:300 16px/28px 'Lato', arial, sans-serif; letter-spacing:.03em; background:#f1f1f1;}
header,nav,section,div,footer {width:auto; height:auto; margin:0 auto; padding:0; display:block;}
header,nav,section,div {position:relative;}
ul,ol {margin:0; padding:20px 30px; text-align:left;}
ol {list-style-type:upper-latin;}
ul {list-style-type:disc;}
img {max-width:100%; height:auto; display:block; width:400px; margin:0 auto;}
a {color:#343434; text-decoration:none; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease;}
a:hover {color:#d4af37;}
p {margin:20px 0; padding:0;}
h1 {margin:0; padding:0; color:#343434; font:600 32px 'Lato'; text-transform:uppercase;}
h2 {margin:0; padding:0; color:#343434; font:600 28px 'Lato'; text-transform:uppercase;}
h3 {margin:0; padding:0; color:#343434; font:600 24px 'Lato'; text-transform:uppercase;}
h4 {margin:0; padding:0; color:#343434; font:600 20px 'Lato';}

body.about {
    background-color:#fffdc0;
}
body.experience {
    background-color:#ffcdc0;
}
header {
    background-color:#f1f1f1;
}
ol ul {
    padding: 0 30px!important;
}
header .color {
    text-align:center;
    color:#343434;
}
nav {
    background-color: #afb6d0;
    text-align: center;
    width: fit-content;
}
nav a {
    padding:0 10px;
    font-weight:600;
}
section{
    padding-top:20px;
}
section.experience {
    padding-top: 20px;
    margin: 20px 10% 0;
}
section.experience .inner {
    text-align:center;
    max-width:80%;
}
section.experience .inner .experience {
    float:left; max-width:50%;
}
section.experience .inner .reasons {
    float:right; max-width:50%;
}
section.about {
    padding-top: 20px;
    margin: 20px 10% 0;
}
section.about p.text:nth-of-type(odd) {
    background-color:#80886b;
}
section.about .name-font {
    font-family:cursive;
    color:#12c7df;
}
section.about .inner {
    text-align:center;
    max-width:80%;
}
section.about .inner .about {
    float:left; max-width:50%;
}
section.about .inner .hobbies {
    float:right; max-width:50%;
}
section.gallery {
    background-color:#232323;
}
section.gallery p {
    color:#fff;
}
section.gallery .inner {
    width: 45%;
    text-align: center;
}